Source: uif
Section: net
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Standards-Version: 3.9.4
Build-Depends:
 debhelper (>= 7),
 po-debconf,
Vcs-Git: git://git.debian.org/collab-maint/uif.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/uif.git;a=summary
Homepage: https://github.com/cajus/uif

Package: uif
Architecture: all
Depends:
 ${perl:Depends},
 ${misc:Depends},
 libnetaddr-ip-perl (>= 3.0),
 iptables,
 bsdutils (>=2.11u),
Suggests:
 fwlogwatch,
 uif-ldap,
Conflicts:
 knetfilter,
 firewall-easy,
 shorewall,
 fiaif,
Description: Advanced iptables-firewall script
 Complete package to create and simplify iptables packetfilter
 rules using perl. It was developed for a diskless router
 system that can store its configurations in regular files or
 ldap databases.
 .
 This package provides the non-LDAP version of uif.

Package: uif-ldap
Architecture: all
Depends:
 ${perl:Depends},
 ${misc:Depends},
 uif (= ${binary:Version} ),
 libnet-ldap-perl,
Description: Advanced iptables-firewall script (LDAP support)
 Complete package to create and simplify iptables packetfilter
 rules using perl. It was developed for a diskless router
 system that can store its configurations in regular files or
 ldap databases.
 .
 This package enables LDAP support in uif and provides an LDAP
 schema file for storing uif rules in LDAP.
